.material {
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.files {
    border: solid #cccccc 2px;
    height: 100%;
}
.title {
    font-size: 3vh;
    background-color: #cccccc;
    width: 100%;
    text-align: center;
    height: 5vh;
}
.image-place {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}
.image-place img {
    height: 360px;
    width: auto;
    object-fit: contain;
}
.date-place {
    padding: 5px;
}
.image-loader {
    padding: 5px;
}
.material-props {
    padding: 5px;
}
.material-props > div {
    display: flex;
    gap: 10px;
}
.material-files {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.test-element {
    display: flex;
    flex-direction: row;
    margin: 2px;
}
.test-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 2px;
}
.username-form {
    display: flex;
    gap: 4px;
}