
.profileTabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
}
.profileTab {
    display: flex;
    align-items: center;
    border-left: solid 1px #536cc9;
    border-right: solid 1px #536cc9;
    justify-content: center;
    width: 100%;
    background-color: white;
    color: black;
    height: 8vh;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    transition-property: background-color;
    cursor: pointer;
    font-size: 2.5vh;
}
.profileTab:hover {
    background-color: #9eb3ff;
}
.dropdownMenu .dropdownSubmenu {
    visibility: hidden;
}
.dropdownMenuEnd {
    visibility: hidden;
    transform: translate(100%,-100%);
}
.menu-item:hover + .dropdownSubmenu {
    visibility: visible;
    position: relative;
    z-index: 999;
}
.dropdownSubmenu:hover {
    visibility: visible;
    position: relative;
    z-index: 999;
}
.dropdownToggleEnd:hover + .dropdownMenuEnd {
    visibility: visible;
}
.subTab {
    border: solid 1px #536cc9;
}
.dropdownMenuEnd:hover {
    visibility: visible;
}

