.search-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.group-area {
    margin: 1vh;
}
.group-title {
    width: 200px;
    display: flex;
    height: 34px;
    font-size: 24px;
    border-radius: 4px 4px 0 0;
    background-color: #9eb3ff;
    justify-content: center;
}
.input-area {
    display: flex;
    flex-direction: row;
}
.search-button {
    width: 8%;
}
.filter-button {
    width: 10%;
    margin: 1vh;
}
.search-text {
    width: 100%;
}
.paging-area {
    background-color: #ffffff;
    display: flex;
    gap: 5px;
    width: fit-content;
    border-radius: 4px;
}